*
{
    margin: 0;
    padding: 0;
}

.main {
	margin-left: 6%;
	margin-right: 6%;
}
.main img {
	width: 8%
	height:8%
	margin: 40px 30px 5px 0;
	float: right;
	border-radius: 10px;
}

.main-text {
	display: inline;
	font-family: 'Karla', sans-serif;
	font-size: 1.5em;
	line-height:1.75;
	margin-left: 6%;

}
.main-center{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
/*--------menu bar buttons-------*/
.menu-bar
{
    float: right;
    list-style: none;
    margin-top: 10px;
}
.menu-bar li
{
    display: inline-block;
}

.menu-bar li.active a
{
    border: 1px solid black;
	background-color: rgb(255,192,203);
    
}

.menu-bar li a:hover
{
    border: 1px solid black;
	background-color: 
	
    transition: all 0.5s ease-in;

}

.menu-bar li a
{
    color: black;
    text-decoration: none;
    padding: 5px 20px;
	font-family: 'Karla', sans-serif;
    font-size: 20px;
}
/*-----Fonts-----*/
h1
{
	font-family: 'Karla', sans-serif;;
    color: black;
    font-size: 70px;
    text-align: center-left;
	margin-left: 6%;
    margin-top: 4%;
	float: leftwards;
    
}
h2
{
	font-family: 'Karla', sans-serif;
    color: black;
    font-size: 20px;
	margin-left: 6%;
    float:left;
    
}

body
{
	margin-top: -2%;
	margin-right: 10%;
	
}
.pic
{
	max-width: 90%;
	height: auto;
	font-family: 'Karla', sans-serif;
	font-size: 20px;
	size: 10px;
}
/*----------art--------*/
.row{
	margin-left: 6%;
	display: flex;
	flex-wrap: wrap;
	padding: 0 10px;
}
.column {
	margin-left: 6%;
	flex: 25%;
	max-width: 25%
	padding:0 10px;
}
.column img {
	margin-left: 6%;
	margin-top: 6%;
	vertical-align: middle;
	width: 90%;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 850px) {
	.column {
		flex: 50%;
		max-width: 50%;
	}
}
@media screen and (max-width: 650px) {
	.column {
		flex: 90%;
		max-width: 90%;
	}
}
@media only screen and (max-width: 850px) {
	.main img {
		width: 300px;
		margin: 30px 30px 5px 0;
	}
}
@media only screen and (max-width: 650px) {
	.main img {
		width: 100%;
	}
}





.footer {
  padding: 1rem;
  background: #8a8a8a;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.footer .fa {
  font-size: 1.3rem;
  color: #fefefe;
}

.footer .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}

.footer {
	position: relative;
	width: 100%;
	bottom: 0;
	background-color:  rgb(255,192,203);
	overflow: auto;
	text-align: center;
	padding: 40px;
	color: blue;
}
.footer icon {
	padding: 10px;
	color: white;
}
.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px; 
	text-align: center;
}
.footer  a {
  float: center; /* Float links side by side */
  text-align: landscape; /* Center-align text */
  width: 50%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 20px 0; /* Some top and bottom padding */
  color: white; /* White text color */
  font-size: 46px; /* Increased font size */
}

