*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: monospace;
}
.row
{
    font-family: 'Karla', sans-serif;
	font-size: 20px;
	margin-top: 20px;
	margin-left: 20px;
	
}
*{
	box-sizing: border-box;
}
.small-header
{
	font-family: 'Karla', sans-serif;
	font-size: 20px;
	margin-top: 60px;
	margin-left: 6%;
	margin-right:6%
	float: top;
	width: 33.33%;
}
.main {
	margin-left: 6%;
	margin-right: 6%;
}
.main img {
	width: 5%
	height:5%
	margin: 40px 30px 5px 0;
	float: right;
	border-radius: 10px;
}
.main-text {
	display: inline;
	font-family: 'Karla', sans-serif;
	font-size: 1.5em;
	line-height:1.75;
	margin-left: 6%;

}
.main-nav
{
    float: right;
    list-style: none;
    margin-top: 10px;
}
.main-nav li
{
    display: inline-block;
}

.main-nav li.active a
{
    border: 1px solid black;
	background-color: rgb(255,192,203);
    
}

.main-nav li a:hover
{
    border: 1px solid black;
	background-color: rgb(255,192,203);
    transition: all 0.5s ease-in;

}


.main-nav li a
{
    color: black;
    text-decoration: none;
    padding: 5px 20px;
	font-family: 'Karla', sans-serif;
    font-size: 20px;
}

.big-header
{
    position: left;
    //width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
    
}


h1
{
	font-family: 'Karla', sans-serif;;
    color: black;
    font-size: 70px;
    text-align: center-left;
	margin-left: 6%;
    margin-top: 4%;
	float: leftwards;
    
}
h2
{
	font-family: 'Karla', sans-serif;
    color: black;
    font-size: 20px;
	margin-left: 6%;
    float:left;
    
}

header
{
	margin-top: 5%;
	
}
.pic
{
	max-width: 80%;
	height: auto;
	font-family: 'Karla', sans-serif;
	font-size: 20px;
	size: 10px;
}

.button
{
    margin-top: 20px;
    margin-left: 440px;
}

.btn
{
    border: 1px solid black;
	background-color: rgb(255,192,203);
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}
.btn-one
{
    background-color: darkorange;
    font-family: 'Karla', sans-serif;
}

.btn-two
{
    font-family: 'Karla', sans-serif;
}


.btn-two:hover
{
    background-color: darkorange;
    transition: all 0.5s ease-in;
    
        
}













